---
layout: html
---

<body>

    <section class="hero is-fullheight">

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-6 content">
                        <img src="/assets/images/logo_box.png" class="hero-logo">
                        {{ content }}
                    </div>
                </div>
                <div class="columns is-centered">
                    <div class="column is-1">
                        <a href="{% link pages/about.md %}">About me</a>
                    </div>
                    <div class="column is-1">
                        <a href="{% link pages/cv.md %}">Curriculum</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            {% include footer.html %}
        </div>

    </section>

    <link rel="stylesheet" href="/assets/styles/hero.css">
</body>
