---
layout: html
---

<body class="">

    <section class="hero is-fullheight">

        <div class="hero-head">
            {% include header.html %}
        </div>

        <div class="hero-body">
            <div class="container-fluid has-text-centered">
                <div class="columns">
                    <div class="column is-7 is-offset-3">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            {% include footer.html %}
        </div>

    </section>

</body>
