body {
    background-color: #00ff13;
}
.characters-table {
    width: auto !important;
    height: fit-content;
}
.selection-canvas {
    border: 1px black solid;
}
.character-cell {
    padding: 0;
}
.character-canvas {
    border: 1px black solid;
}