---
layout: default
---

<div class="sec about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info-image">
                    {% if page.intro_image %}
                    <div class="intro-image">
                        <img alt={{ page.title }} src="/assets/images/profile_picture.jpeg" />
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 justify-content-center">
                <div class="intro-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>