---
layout: default
---

<div class="sec about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info-image">
                    {% if page.intro_image %}
                    <div class="intro-image">
                        <img alt={{ page.title }} src="/assets/images/profile_picture.jpeg" />
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8 justify-content-center">
                <div class="intro-content">
                    {{ content }}
                </div>
                <address class="content-info">
                    <div class="row">
                        <div class="col-md-12 single-info"><span>Email:</span>
                            <p><a href="mailto:{{ site.data.contact.email_address }}">{{ site.data.contact.email_address }}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 single-info"><span>Phone:</span>
                            <p>{{ site.data.contact.full_phone_number }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 single-info"><span>Github:</span>
                            <p><a href="{{ site.data.contact.github_url }}">{{ site.data.contact.github_url }}</a></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 single-info"><span>Medium:</span>
                            <p><a href="{{ site.data.contact.medium_url }}">{{ site.data.contact.medium_url }}</a></p>
                        </div>
                    </div>
                </address>
            </div>
        </div>
    </div>
</div>