---
layout: default
---

<div class="sec curriculum-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="accordion">
                    {% for job in site.jobs reversed %}
                    <div class="accordion-item">

                        <h2 class="accordion-header" id="heading{{ job.weight }}">
                            <div class="accordion-button{% if forloop.first != true %} collapsed{% endif %}" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ job.weight }}" aria-expanded="{% if forloop.first == true %}true{% else %}false{% endif %}"
                                    aria-controls="collapse{{ job.weight }}">

                                <h5>{{ job.position }}</h5>
                                <h6>{{ job.location }}</h6>
                                {{ job.start_date }} - {{ job.end_date }} {% if job.duration %}({{ job.duration }}){% endif %}

                            </div>
                        </h2>

                        <div id="collapse{{ job.weight }}"
                             class="accordion-collapse collapse{% if forloop.first == true %} show{% endif %}"
                             aria-labelledby="heading{{ job.weight }}">
                            <div class="accordion-body container">

                                <div class="container">

                                    <div class="row">

                                        <div class="col-md-8">
                                            <a href="{{ job.organization_url }}" target="_blank"><h5>{{ job.organization_name }}</h5></a>
                                            {{ job.organization_description }}
                                        </div>

                                        <div class="col-md-4">
                                            <a href="{{ job.organization_url }}" target="_blank"><img alt="{{ job.organization_name }}" class="organization-logo img-fluid mb-2"
                                                 src="{{ job.logo }}"/></a>
                                        </div>
                                    </div>

                                    {% capture content %}{{ job.content | strip }}{% endcapture %}
                                    {% if content != "" %}

                                    <div class="row">

                                        <div class="col-md-12">
                                            <h5>Responsibilities:</h5>
                                            <p>{{ job.content }}</p>
                                        </div>

                                    </div>

                                    {% endif %}

                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

