---
layout: default
---

<div class="sec banner">
    <div class="container">
        <div class="row gutter-30px justify-content-center">
            <div class="col-lg-5 order-lg-last position-relative">
                <div class="info-image">
                    <img alt={{page.title}} src="assets/images/profile_picture.jpeg" />
                </div>
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="hero-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>